@font-face {
    font-family: ubuntu;
    src: url(./Ubuntu.ttf);
}
div.console
{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background: black;
  color: white;
  font-size:16px;
  padding:0px;
  font-family:"ubuntu";
  overflow-y:auto;
  width:600px;
  height:300px;
  resize: both;
  word-wrap: break-word;
  overflow-wrap: break-word;
  cursor: default;
  outline: none;
}

div.console::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #888;
}
div.console::-webkit-scrollbar
{
    width: 10px;
    background-color: #888;
}
div.console::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
    background-color: #444;
}

div.console span.symbol
{
  height:18px;
}

div.console span.symbol.right
{
  border-right:1px dotted #FFF;
  margin-right:-1px;

}

div.console span.symbol.left
{
  border-left:1px dotted #FFF;
  margin-left:-1px;
}

div.console span.symbol.null
{
  border-left:1px dotted #FFF;
  margin-left:-1px;
}
